<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="card-title-page">To-Do's</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search Id or Title">
                                </mat-form-field>
                            </form>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-lg table-dark">
                                <thead>
                                    <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th scope="col">Id</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Completed</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of todos; let index">
                                        <!-- <th scope="row"></th> -->
                                        <td>{{item.id}}</td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.userId}}</td>
                                        <td>{{item.completed}}</td>
                                        <td>
                                            <div class="row button-row">
                                                <div class="col-md-12">
                                                    <button class="edit-button" mat-raised-button color="primary">
                                                        Editar</button>
                                                    <button class="delete-button" mat-raised-button color="warn">
                                                        Excluir</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>